@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
     display: block;
     font-family: "Open Sans", Arial;
     color: #454545;
     font-size: 16px;
     max-width: 800px;
     margin: 2em auto;
     padding: 1em;
     line-height: 1.4;
     hyphens: auto;
}
p{
     display:block;
     margin-block-start: 1em;
     margin-block-end: 1em;
}
img{
     max-width: 200px;
     overflow-clip-margin: content-box;
     overflow: clip;
}
figcaption{
     font-size: .7em;
     display: block;
     unicode-bidi: isolate;
}
.kopimi{
     display: flex;
     justify-content: center;
}
.position{
     display: block;
     unicode-bidi: isolate;
}
.picture-left{
     float: none;
     width: inherit;
     overflow: hidden;
     margin-right: 1em;
}
.text-left{
     float: none;
     width: inherit;
}
.fr{
     margin-top: -1em;
}
.small-text{
     font-size: .5em;
}
.not-allowed{
     cursor: not-allowed;
}
.WTFPL{
     font-family: monospace;
     font-size: .9em;
}
.four-before{
     content: "";
     display: inline-block;
     width: 1em;
     height: 1em;
     margin-left: .2em;
     margin-right: .2em;
     background-color: #444;
}
.four{
     color: #444;
     font-weight: 700;
}
.four-five-before{
     content: "";
     display: inline-block;
     width: 1em;
     height: 1em;
     margin-left: .2em;
     margin-right: .2em;
     background-color: #454545;
}
.four-five{
     color: #454545;
     font-weight: 700;
}
blockquote:before{
     color: #666;
     content: open-quote;
     font-family: 'Times New Roman', Times, Arial;
     font-size: 2.2em;
     font-weight: 600;
     margin-top: 0;
     margin-right: .2rem;
     width: 1.2rem;
}
blockquote{
     display: block;
     color: #456;
     margin-left: 0;
     margin-top: 2em;
     margin-bottom: 2em;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 40px;
     margin-inline-end: 40px;
     unicode-bidi: isolate;
}
.author{
     display: block;
     clear: both;
     font-size: .6em;
     margin-left: 10%;
     font-style: oblique;
     padding-top: 1em;
     width: 80%;
}
blockquote span{
     margin-left: 1rem;
     padding-top: 1rem;
     width: 80%;
}
.text-change-color{
     animation: colorChange 3s infinite; 
}
@keyframes colorChange {
     0% { color: red; }
     20% { color: orange; }
     40% { color: yellow; }
     60% { color: green; }
     80% { color: blue; }
     100% { color: purple; }
}